
pre {
margin-left: 2em;
}

p {
margin-left: 1em;
}

h1 { 
font-size: 150%;
font-variant: small-caps;
}

h2 { 
font-size: 115%;
font-variant: small-caps;
}

h3 { 
font-size: 100%;
font-variant: small-caps;
}

a.banner {
padding: 5px;
border-radius: 10px;
text-decoration: none;
font-weight: bold;
font-size: 200%;
color: white;
}

a.kiezel {
background-image: url("kiezelsteen.jpg");
}

#wide-content {
}

#content {
width:45em;
}

div.indexofeverything {
column-width:18em;
}
